<nav class="navbar navbar-expand-lg bg-light sticky-top shadow">
    <div class="container">
        <a class="navbar-brand p-0 d-flex align-items-center" routerLink="/">
            <img src="farmeets-logo.png" alt="Farmeets Logo" height="60" class="me-2" />
        </a>
        <ul class="navbar-nav ms-auto d-flex flex-row gap-2 align-items-center w-auto">
            <ng-container *ngIf="(userIdentity.isLoggedIn | async) as loggedIn">
                <li class="nav-item" *ngIf="loggedIn && !isDashboardRoute">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
            </ng-container>
            <ng-container *ngIf="userIdentity.isLoggedIn | async; else loginLinks">
                <li class="nav-item position-relative" ngbDropdown>
                    <a class="nav-link dropdown-toggle d-flex align-items-center" ngbDropdownToggle id="profileDropdown"
                        role="button">
                        <span class="me-2">
                            <i class="bi bi-person-circle"></i>
                            <!-- If you have profile image, use <img> here -->
                        </span>
                        <span class="d-none d-lg-inline">{{ userIdentity.userDetails?.name || 'Profile' }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end position-absolute" ngbDropdownMenu aria-labelledby="profileDropdown" style="top:100%;left:auto;right:0;">
                        <li><a class="dropdown-item" routerLink="/edit-profile">Edit Profile</a></li>
                        <li><a class="dropdown-item" routerLink="/auth/update-preference">Update Preferences</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a></li>
                    </ul>
                </li>
            </ng-container>
            <ng-template #loginLinks>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/auth/quick-signon">Login</a>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>