:host {
  min-height: 100vh;
  width: 100vw;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url('/farm-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

:host::after {
  content: "";
  position: fixed;
  top: 80px;
  bottom: 0;
  margin: auto;
  left: 20%;
  width: 330px;
  height: 100vh;
  background: url(/farmer-login.png) no-repeat center center;
  background-size: contain;
  z-index: 2;
  // opacity: 0.95;
  display: none;
}

@media (min-width: 768px) {
  :host::after {
    display: block;
  }
}

:host::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000b2;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}