<!-- Mobile Bottom Tab Bar -->
<div class="sidebar-mobile d-md-none">
    <div class="sidebar-mobile-list">
        <a routerLink="./" (click)="onGroupClick(null)" class="sidebar-mobile-item">
            <span class="sidebar-mobile-icon d-flex justify-content-center align-items-center"><i class="bi bi-speedometer2"></i></span>
            <span class="sidebar-mobile-name">Home</span>
        </a>
        <a routerLink="./general/create-post" (click)="onGroupClick('general')" class="sidebar-mobile-item">
            <span class="sidebar-mobile-icon d-flex justify-content-center align-items-center"><i class="bi bi-chat-dots"></i></span>
            <span class="sidebar-mobile-name">Create Post</span>
        </a>
        <a routerLink="./company/add" class="sidebar-mobile-item">
            <span class="sidebar-mobile-icon d-flex justify-content-center align-items-center"><i class="bi bi-building-add"></i></span>
            <span class="sidebar-mobile-name">Add Company</span>
        </a>
        <a *ngIf="isLoggedIn" routerLink="./company" class="sidebar-mobile-item">
            <span class="sidebar-mobile-icon d-flex justify-content-center align-items-center"><i class="bi bi-buildings"></i></span>
            <span class="sidebar-mobile-name">My Companies</span>
        </a>
    </div>
</div>
<div class="sidebar-sticky pt-3 d-none d-md-flex flex-column h-100" style="min-height:0;">
    <div class="mb-4 flex-shrink-0">
        <h5>Welcome</h5>
        <ul class="list-group mt-2">
            <li class="list-group-item">
                <a routerLink="./" (click)="onGroupClick(null)" class="d-block py-1 text-decoration-none">
                    <i class="bi bi-speedometer2 me-1"></i> Home
                </a>
            </li>
            <li class="list-group-item">
                <a routerLink="./general/create-post" (click)="onGroupClick('general')"
                    class="d-block py-1 text-decoration-none">
                    <i class="bi bi-chat-dots me-1"></i> Create Post
                </a>
            </li>
            <li class="list-group-item">
                <a routerLink="./company/add" class="d-block py-1 text-decoration-none">
                    <i class="bi bi-building-add me-1"></i> Add Company
                </a>
            </li>
            <li class="list-group-item" *ngIf="isLoggedIn">
                <a routerLink="./company" class="d-block py-1 text-decoration-none">
                    <i class="bi bi-buildings me-1"></i> My Companies
                </a>
            </li>
        </ul>
    </div>
    <!-- <div class="mb-4">
        <h6>My Groups</h6>
        <ul class="list-group mb-2">
            <li class="list-group-item d-flex flex-column align-items-start" *ngFor="let group of myGroups"
                style="cursor:pointer;">
                <div class="d-flex align-items-center w-100">
                    <a [routerLink]="['./category', group.group.id]" (click)="onGroupClick(group)"
                        class="d-flex align-items-center text-decoration-none w-100">
                        <ng-container *ngIf="group.group?.images && group.group?.images.length > 0; else noGroupImg">
                            <img [src]="group.group?.images[0]" [alt]="group.group?.name" class="rounded me-2"
                                width="32" height="32" style="object-fit:cover;">
                        </ng-container>
                        <ng-template #noGroupImg>
                            <div class="bg-light d-flex align-items-center justify-content-center rounded me-2"
                                style="width:32px; height:32px;">
                                <i class="bi bi-image fs-5 text-secondary"></i>
                            </div>
                        </ng-template>
                        <span>{{ group.group.name }}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <h6>Explore Groups</h6>
        <ul class="list-group mb-2">
            <li class="list-group-item d-flex align-items-center" *ngFor="let group of exploreGroups.slice(0, 5)"
                style="cursor:pointer;">
                <a [routerLink]="['./category', group.id]" (click)="onGroupClick(group)"
                    class="d-flex align-items-center text-decoration-none w-100">
                    <ng-container *ngIf="group.images && group.images.length > 0; else noExploreImg">
                        <img [src]="group.images[0]" alt="{{ group.name }}" class="rounded me-2" width="32" height="32"
                            style="object-fit:cover;">
                    </ng-container>
                    <ng-template #noExploreImg>
                        <div class="bg-light d-flex align-items-center justify-content-center rounded me-2"
                            style="width:32px; height:32px;">
                            <i class="bi bi-image fs-5 text-secondary"></i>
                        </div>
                    </ng-template>
                    <span>{{ group.name }}</span>
                </a>
            </li>
        </ul>
    </div> -->
    <div class="sidebar-bottom-links mt-auto flex-shrink-0">
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="./privacy-policy" class="d-block py-1 text-decoration-none">
                    <i class="bi bi-shield-lock me-1"></i> Privacy Policy
                </a>
            </li>
            <li class="list-group-item">
                <a routerLink="./terms-and-conditions" class="d-block py-1 text-decoration-none">
                    <i class="bi bi-file-earmark-text me-1"></i> Terms & Conditions
                </a>
            </li>
            <li class="list-group-item">
                <a routerLink="./child-safety-policy" class="d-block py-1 text-decoration-none">
                    <i class="bi bi-shield-check me-1"></i> Child Safety Policy
                </a>
            </li>
        </ul>
    </div>
</div>