/* Add styles for update preference component here */

.lang-text {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  font-size: clamp(10px, 5vw, 18px);
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 4px;
  text-rendering: geometricPrecision;
  display: block;
  text-align: center;
}
