:host {
    display: block;
    background-image: url("/farm-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    position: relative;
    min-height: 100vh;
}

:host::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffffc9;
}