@media (max-width: 767.98px) {
    .main-content-area {
        padding-bottom: 100px; // Increased to ensure all content is visible above bottom sidebar
        min-height: calc(100vh - 64px);
        box-sizing: border-box;
    }
}

:host {
    display: block;
    background-image: url("/farm-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    position: relative;
    min-height: 100vh;
}

:host::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffffc9;
}

.sidebar {
    top: 84px;
    @media (min-width: 768px) {
        height: calc(100vh - 100px);
    }
}